###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> coverage ###
/coverage/
# Keep coverage.txt for analysis (it's text-based and easy to parse)
!/coverage/coverage.txt
###< coverage ###
.idea
